<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860638833488-a1g5ihqp7ok2jj814419ebp1d8hrljg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860638833488-a1g5ihqp7ok2jj814419ebp1d8hrljg1</string>
	<key>API_KEY</key>
	<string>AIzaSyBLC0qopWyt49R1pj24b4Evgo4prz8WqJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>860638833488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList1</string>
	<key>PROJECT_ID</key>
	<string>todolist1-56be6</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist1-56be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860638833488:ios:6378ffcf9e48577755da55</string>
	<key>DATABASE_URL</key>
	<string>https://todolist1-56be6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>